@charset "UTF-8";

/* 全体のスタイル */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: maroon;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 全画面表示 */
}

@media screen and (max-width: 600px) {
    body {
        font-size: 40px; /* スマートフォンでは文字を小さく */
    }

    h2.video-title {
        font-size: 24px; /* サブタイトルの文字も小さく */
    }
    
    video {
        width: 100%; /* 動画を画面幅に合わせて調整 */
    }
}

/* 見出しスタイル */
header h1 {
    font-size: 80px;
    margin: 20px 0;
    color: whitesmoke;
}

/* 動画コンテナ */
.video-container {
    text-align: center;
}

/* 動画の下のタイトル */
.video-title {
    font-size: 36px;
    margin-top: 20px;
    color: whitesmoke;
}

.subtitle {
    font-size: 18px;
    margin-top: 5px;
    color: whitesmoke
}